<div class="container">
<br>
	<%= link_to "Back To List" , topics_path , :class => "btn btn-primary pull-right" %>
	<h2>Topic : </h2>

	<%= form_for @topic , :url => edit_topic_path(@topic) do |f| %>
		<%= link_to "Reply" , new_topic_comment_path(@topic) , :class => "btn btn-warning" %>
		<div class="btn pull-right">
			<% if current_user == @topic.user %>
				<%= link_to "Edit" , edit_topic_path(@topic) , :class => "btn btn-success" %>
				<%= link_to "Delete" , topic_path(@topic) , :method => :delete , :class => "btn btn-danger" %>
			<% end %>
		</div>
			
		<div class="form-group">
			<h4>Category : </h4>
			<%= @category.name %>
			
			
		</div>

		<div class="form-group">
			<%= f.label :t_title , "Title : " %>
			<%= f.text_field :t_title , :disabled => "disabled" , :class => "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :t_content , "Content : " %>
			<%= f.text_area :t_content , :rows => "15" , :disabled => "disabled" , :class => "form-control" %>
		</div>
	<% end %>

	<% if @comments %>
		<h2>Reply : </h2>
		<% @comments.each do |c| %>
			<%= form_for c , :url => "" do |f| %>
				<div class="btn pull-right">
					<% if current_user == c.user %>
						<%= link_to "Delete" , topic_comment_path(@topic , c) , :method => :delete , :class => "btn btn-danger" %>
					<% end %>
				</div>
				<%= f.label :c_content , "Content : " %>
				<%= f.text_area :c_content , :rows => "10" , :disabled => "disabled" , :class => "form-control"%>
			<% end %>
		<% end %>
	<% end %>
		



</div>
	
